.containerSideBar {
  height: 100vh;
  max-width: 220px;
  min-width: 220px;
  width: 220px;
  overflow: hidden;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  //   background-color: rgb(248, 209, 165);
  background: rgb(245, 244, 244);
  border-right: 1px solid #e6e7e8;
  .wrapperSidebar {
    background-color: white;
    border-radius: 4px;
    height: 100%;
    box-shadow: 1px 1px 5px #e6e1e1;
    .wrapperHome {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 65px;
      font-size: 24px;
      font-weight: 600;
      background-color: rgb(236, 163, 163);
    }
    .wrapper {
      height: 650px;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      padding: 6px;
      gap: 6px;

      .sideBar {
        color: black;
        text-decoration: none;
        font-size: 18px;
        padding: 16px 12px;
        border-top-right-radius: 4px;
        display: flex;
        align-items: center;
        font-weight: 600;
        gap: 8px;
        &:hover {
          background-color: rgba(250, 174, 151, 0.133);
        }
      }
    }
  }
}
