.breacrumb {
  cursor: pointer;

  &:hover {
    color: black;
    text-decoration: underline;
  }
}

.wrapperContent {
  padding: 20px 50px;

  .name {
    cursor: pointer;
    color: #006677;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  .wrapperBtn {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrapperAction {
    display: flex;
    align-items: center;
    gap: 4;
  }

  .wrapperRoom {
    padding: 20px;
    border: 1px solid gray;
    .headRoom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid gray;
      padding-bottom: 10px;
      margin-bottom: 10px;
      .icon {
        cursor: pointer;
      }
    }

    .bedRoom {
      height: 65px;
      width: 60px;
      border: 1px solid gray;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      .bedInfo {
        height: 65px;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          border-radius: 5px;
          width: 100%;
          height: 100%;
        }
      }
    }

    .btnBedRoom {
      height: 65px;
      width: 60px;
      border: 1px solid gray;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      background-color: rgb(255, 235, 235);
      &:hover {
        background-color: rgb(247, 202, 202);
      }
    }
    .bedName {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.contentPopup {
  .itemPopup {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px;
    cursor: pointer;
    border-radius: 2px;
    &:hover {
      background-color: rgba(245, 57, 0, 0.233);
    }
  }
}
