.containerLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .modalLogin {
        border: 1px solid red;
        border-radius: 20px;
        padding: 20px;
        min-height: 300px;
        width: 500px;
        .title {
            font-size: 20px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
        }
        .btnSubmit {
            display: flex;
            align-items: center;
            justify-content: end;
        }
        .textswitch {
            color: rgb(212, 123, 20);
            cursor: pointer;
            width: fit-content;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}