.wrapperContent {
    padding: 20px 50px;

    .name {
        cursor: pointer;
        color: #006677;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }

    .wrapperBtn {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .wrapperAction {
        display: flex;
        align-items: center;
        gap: 4;
    }

    .wrapperDom {
        padding: 15px;
        display: flex;
        align-items:center;
        justify-content: space-between;
        background-color: rgb(248, 221, 217);
        margin-bottom: 20px;
        border-radius: 2px;
        &:hover {
        background-color: rgb(255, 233, 229);
        cursor: pointer;
        }
        .nameDom {
            font-weight: 600;
        }
    }
}

.breacrumb {
    cursor: pointer;

    &:hover {
        color: black;
        text-decoration: underline;
    }
}