.containerProfile {
  padding: 20px 100px;
  .containerInfor {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    .wrapperInfo {
      display: flex;
      align-items: flex-start;
      gap: 10px;

      .avatar {
        height: 100px;
        width: 100px;
        border-radius: 6px;
        object-fit: cover;
      }

      .admin {
        margin-top: 10px;
        color: rgb(124, 122, 122);
      }
    }
    .btnEdit {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      height: 40px;
      padding: 0px 8px;
      background-color: rgba(245, 57, 0, 0.133);
      border-radius: 4px;
      &:hover {
        background-color: rgba(245, 57, 0, 0.333);
      }
    }
  }
}

.wrapperBtn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.wrapperImage {
  display: flex;
  align-items: center;
  gap: 20px;
  .chosseFile {
    display: none;
  }

  .labelImage {
    width: 80px;
    height: 80px;
    border: 1px dashed gray;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .imageChoose {
    display: flex;
    align-items: center;
    gap: 6px;
    .images {
      img {
        height: 80px;
        width: 80px;
        object-fit: cover;
        border-radius: 4px;
      }
    }
    .icon {
      cursor: pointer;
    }
  }
}
