.containerProfile {
  padding: 20px 100px;
  .containerInfor {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    .wrapperInfo {
      display: flex;
      align-items: flex-start;
      gap: 10px;

      .avatar {
        height: 100px;
        width: 100px;
        border-radius: 6px;
        object-fit: cover;
      }

      .admin {
        margin-top: 10px;
        color: rgb(124, 122, 122);
      }
    }
    .btnEdit {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      height: 40px;
      padding: 0px 8px;
      background-color: rgba(245, 57, 0, 0.133);
      border-radius: 4px;
      &:hover {
      background-color: rgba(245, 57, 0, 0.333);
      }
    }
  }
}
