.containerLayout {
  display: flex;
  height: 100%;
  .sideBar {
    flex-shrink: 0;
    position: sticky;
    top: 0;
  }
  .content {
    width: 100%;
    background-color: rgba(245, 226, 210, 0.133);
  }
}
@media only screen and (max-width: 768px) {
  .containerLayout {
      .sideBar {
        display: none;
      }
    }
}
