.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px ;
  .bar {
    width: max-content;
  }
  .wrapperAcount {
    .avatar {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
